<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
            DanteII
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">DanteII</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Главная</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Hello, {{name}}!</h1>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">Copyright &copy; DanteII 2017</p>
            </div>
        </div>
    </footer>
</body>
</html>